<div class='container text-start mb-3 border-start border-3 bg-light'>
  <h4><%= @question %></h4>
  <p>-You</p>
</div>
<div class='container text-start border-start border-3 bg-secondary' style='--bs-bg-opacity: .3;'>
  <h4><%= @answer %></h4>
  <p>-Stupid Coach</p>
</div>
<div>
<a href="/ask" class='text-decoration-none'>Ask a new question</a>
</div>
